/* Insert CSS Here! */
img {
      height: 150px;
      border: 2px solid black;
      display: block;
      margin: 0 auto;
    }

    .description {
      background-color: yellow;
    }

    #cook-time {
      color: red;
      padding-left: 20px;
    }

   .ingredients li {
      list-style-type: square;
    }

    p.time {
      color: grey;
    }
